@model EmbellishmentTypeAddDto
@{
    ViewData["Title"] = "EmbellishmentType Page";
}
<div class="container mt-5 fw-bold">
    <form id="myForm" action="Create" method="post">
        <!-- Name and Number Inputs -->
        <div class="row">
            <div class="col-md-4">
                <label for="designName" class="form-label">Name</label>
                <input asp-for="Name" class="form-control border-primary border-2" placeholder="Enter design name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label for="designNumber" class="form-label ">Number</label>
                <input asp-for="SortOrder" class="form-control border-primary border-2" placeholder="Enter number for sorting">
            </div>
            <!-- Description Textarea -->
            <div class="mt-3 col-md-8">
                <label for="designDescription" class="form-label ">Description</label>
                <textarea asp-for="Description" class="form-control border-primary border-2" id="designDescription" rows="5" placeholder="Enter description"></textarea>
                <div class="col-12 text-center text mt-3">
                    <button type="button" class="btn btn-secondary m-2 w-25" onclick="goBack()">Back</button>
                    <button type="button" class="btn m-2 w-25" style="background-color: #ff7f50; color: white;" onclick="resetForm()">Reset</button>
                    <button type="submit" class="btn btn-success m-2 w-25">Save</button>




                </div>
            </div>
            <!-- Submit Button (Optional) -->

        </div>

    </form>
</div>



@section scripts
{
   }
<script>

    // Back Button Fanction
    function goBack() {
        window.history.back();
    }

    // Reset Button Fanction
    function resetForm() {
        document.getElementById("myForm").reset();
    }


</script>

